*.class
*.classpath
*.project
*/.settings/
*/target/
*/bin/
*/WebContent/
*/.DS_Store

.idea/

target/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml
.DS_Store


hs_err_pid*

